@import 'titulo';
$cor-do-texto : yellow;
$cor-de-fundo : #d11635;

body{
    background-color:$cor-de-fundo;
    color: $cor-do-texto;
}

div{
    $cor-do-p : aqua;
     p{       
        color: $cor-do-p;
    }
    

}