*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tblProdutos{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90vw;
    margin: auto;


td, th{
    border: 2px solid #ddd;
    padding: 6px;
}

tr{
    &:nth-child(even){
        background-color: #ab96ab;
    }

    &:hover{
        background-color: darken($color: #ab96ab, $amount: 15)
    }

}

th{
    text-align: left;
    background-color: purple;
    color: #ddd;
    padding: 1.2vh 0;
}

tfoot td{
    padding: 0;
}

tfoot td caption{
    display: block;
    text-align: center;
    background-color: purple;
    color: #ddd;
    padding: 1.2vh 0;
    font-weight: bold;
}
}