*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tblProdutos{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90vw;
    margin: auto;
}   

.tblProdutos td, .tblProdutos th{
    border: 2px solid #ddd;
    padding: 6px;
}

.tblProdutos tr:nth-child(even){
    background-color: #809fbb;
}

.tblProdutos th{
    text-align: left;
    background-color: blue;
    color: #ddd;
    padding:1.2vh 0.5vw;
}

.tblProdutos tfoot td{
    padding: 0;
}

.tblProdutos tfoot td caption{
    display: block;
    text-align: center;
    background-color: blue;
    color: #ddd;
    padding: 1.2vh 0;
    font-weight: bold;
}
